<div class="container">
  <form class="row mt-5" (ngSubmit)="add(f)" #f="ngForm">
    <div class="col-md-6 mb-3">
      <label for="name" class="form-label">Full name</label>
      <input type="text" class="form-control" id="name" name="name" ngModel required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="BirthDay" class="form-label">BirthDay</label>
      <div class="d-flex">
        <input class="form-control" placeholder="yyyy-mm-dd" name="date" ngModel ngbDatepicker #d="ngbDatepicker"
          required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-calendar">
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="nid" class="form-label">ID</label>
      <input type="number" class="form-control" id="nid" name="nid" placeholder="national id" ngModel required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="nid" class="form-label">School</label>
      <select class="form-control" name="school" ngModel required>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
        Add
      </button>
    </div>
  </form>

  <div class="change-color mt-5" *ngIf="table.length">
    <h6>Change Font Color: <input type="color" id="font" name="font" value="" [(ngModel)]="Fcolor"></h6>
    <h6>Change Background Color: <input type="color" id="bg" name="bg" value="" [(ngModel)]="bgColoer"></h6>
  </div>

  <div class="row mt-5" *ngIf="table.length" >
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr [ngStyle]="{'background-color': bgColoer}">
              <th scope="col" [ngStyle]="{'color': Fcolor}">#</th>
              <th scope="col" [ngStyle]="{'color': Fcolor}">Name</th>
              <th scope="col" [ngStyle]="{'color': Fcolor}">BirthDate</th>
              <th scope="col" [ngStyle]="{'color': Fcolor}">School</th>
              <th scope="col" [ngStyle]="{'color': Fcolor}">ID</th>
              <th scope="col" [ngStyle]="{'color': Fcolor}">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of table; let i = index">
              <td [ngStyle]="{'color': Fcolor}">{{ i+1 }}</td>
              <td [ngStyle]="{'color': Fcolor}">{{ data.name }}</td>
              <td [ngStyle]="{'color': Fcolor}">{{ data.date.day }}-{{ data.date.month }}-{{ data.date.year }}</td>
              <td [ngStyle]="{'color': Fcolor}">{{ data.school }}</td>
              <td [ngStyle]="{'color': Fcolor}">{{ data.nid }}</td>
              <td [ngStyle]="{'color': Fcolor}">
                <button class="btn btn-primary mx-3 mb-2" (click)="open(i)">Edit</button>
                <button class="btn btn-danger mx-3 mb-2" (click)="delete(i)">Delete</button>
                <button class="btn btn-danger mx-3 mb-2" (click)="showData()">Show Data</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="row my-5" *ngIf="show">
    <div class="col-12">
      {{ table | json }}
    </div>
  </div>

  <hr>

  <h4>Question 2</h4>

  <div class="row align-items-end">
    <div class="col-3">     
      <div class="form-group m-0">
        <label for="">Number length</label>
        <input type="number" class="form-control" id="" #numLng value="3">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group m-0">
        <label for="">digits divisible</label>
        <input type="number" class="form-control" id="" #divisible value="2">
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="randomNum(numLng.value, divisible.value)">generate</button>
    </div>
    <div class="col-3">
      <h5>
        {{ num }}
      </h5>
    </div>
  </div>

</div>