<div class="modal-header">
    <h4 class="modal-title">Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <p>Hello, {{name}}!</p> -->
    <form class="row mt-5" (ngSubmit)="edit(f)" #f="ngForm">
        <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Full name</label>
            <input type="text" class="form-control" id="name" name="name" required [ngModel]="data.name">
        </div>
        <div class="col-md-6 mb-3">
            <label for="BirthDay" class="form-label">BirthDay</label>
            <div class="d-flex">
                <input class="form-control" placeholder="yyyy-mm-dd" name="date" ngModel ngbDatepicker
                    #d="ngbDatepicker" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="nid" class="form-label">ID</label>
            <input type="number" class="form-control" id="nid" name="nid" placeholder="national id" required
                [ngModel]="data.nid">
        </div>
        <div class="col-md-6 mb-3">
            <label for="school" class="form-label">School</label>
            <select class="form-control" name="school" required [ngModel]="data.school">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
                Edit
            </button>
        </div>
    </form>
</div>